h1 {
    background-color: black;
    color: white;
}
#cloud {
    color: turquoise;
}
h2  {
    background-color: rebeccapurple;
    color: white;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}
h3  {
    background-color: lightskyblue;
    text-align: right;
    text-decoration: underline;
    font-weight: 100;
}